* { box-sizing: border-box; }
#messenger-layout {
    display: grid;
    grid-template-columns: 300px auto 330px;
    height: calc(100vh - 55px);
    overflow: hidden;
}

/* LEFT */
#left-panel {
    background: #fff;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}
.client-scroll { overflow-y: auto; flex: 1; }
.client-item { padding: 10px; display: flex; align-items: center; gap:10px; cursor:pointer; border-radius:10px;}
.client-item.active-client { background:#d8ffda; }

/* CENTER */
#chat-panel {
    display: flex;
    flex-direction: column;
    background:#f4fff4;
}
.messages-body {
    flex:1;
    overflow-y:auto;
    padding: 20px 30px;
}

/* BUBBLES */
.msg-row { display:flex; margin: 12px 0; }
.msg-row.client { justify-content:flex-start; }
.msg-row.csr { justify-content:flex-end; }
.bubble { padding:12px 16px; border-radius:18px; max-width:450px; }
.msg-row.client .bubble { background:#e8e8e8; }
.msg-row.csr .bubble { background:#0b8b43; color:#fff; }

/* INPUT */
#chat-input-bar {
    display:flex; align-items:center; gap:10px;
    padding:12px; background:white;
    border-top:1px solid #ccc;
}
.preview-area { display:flex; gap:10px; padding:10px; background:white; }

/* RIGHT */
.right-panel {
    background:white; border-left:1px solid #ccc;
    display:none; flex-direction:column; padding:20px;
}
.right-panel.show { display:flex; }

/* MEDIA VIEWER */
.media-viewer { position:fixed; inset:0; background:rgba(0,0,0,0.7); display:none; justify-content:center;align-items:center;}
.media-viewer.show { display:flex; }
