/* CHAT PANEL */
.chat-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #F4FFF4;
}

/* CHAT HEADER */
.chat-header {
    padding: 15px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid #d7e7d7;
}

.user-section {
    display: flex;
    align-items:center;
    gap: 12px;
}

.chat-avatar {
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
    background:#ddd;
}

/* MESSAGE LIST */
.chat-box {
    flex: 1;
    overflow-y:auto;
    padding:30px 45px;
    display:flex;
    flex-direction:column;
}

/* MESSAGE WRAPPER */
.msg {
    display:flex;
    align-items:flex-end;
    margin-bottom:12px;
    animation:fadeMessage .25s ease-out;
}

.msg.client { justify-content:flex-start; }
.msg.csr { justify-content:flex-end; }

/* AVATAR */
.bubble-avatar {
    width:32px;
    height:32px;
    border-radius:50%;
    object-fit:cover;
    margin:0 8px;
}

/* BUBBLE */
.bubble {
    max-width:420px;
    padding:12px 16px;
    border-radius:18px;
    font-size:15px;
    line-height:1.4;
}

/* LEFT BUBBLE */
.msg.client .bubble {
    background:#e5e5e5;
    color:black;
    border-radius:18px 18px 18px 4px;
}

/* RIGHT BUBBLE */
.msg.csr .bubble {
    background:#2EB3FF;
    color:white;
    border-radius:18px 18px 4px 18px;
}

/* META */
.meta {
    font-size:11px;
    margin-top:4px;
    color:gray;
}

/* Animation */
@keyframes fadeMessage {
    from { opacity:0; transform:translateY(10px);}
    to { opacity:1; transform:translateY(0);}
}

/* INPUT BAR */
.chat-input {
    display:flex;
    padding:15px 20px;
    gap:12px;
    background:white;
    border-top:1px solid #d7e7d7;
}

.chat-input input {
    flex:1;
    padding:15px;
    border-radius:25px;
    border:2px solid #ccc;
    font-size:16px;
}

.upload-icon,
.send-btn {
    width:45px;
    height:45px;
    border-radius:50%;
    border:2px solid #30b169;
    background:white;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
