body {
    margin:0; padding:0;
    font-family: Arial, sans-serif;
    background:#eaf6ef;
}

.top-bar {
    background:#0a783f;
    color:white;
    padding:10px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo { width:48px; }

.title {
    font-size:22px; font-weight:bold;
    margin-left:10px;
}

.logout-btn {
    color:white; background:#08542c;
    padding:8px 16px; border-radius:10px;
    text-decoration:none;
}

.main-wrap {
    display:flex; height:calc(100vh - 70px);
}

/* CLIENT LIST */
.client-list {
    width:300px; background:white;
    border-right:1px solid #d9d9d9;
    overflow-y:auto;
}

/* CHAT AREA */
.chat-area {
    flex:1; display:flex; flex-direction:column;
    background:#edfdf3;
}

.chat-header {
    padding:10px;
    background:#0a783f; color:white;
    font-weight:bold;
}

.messages {
    flex:1; overflow-y:auto;
    padding:15px;
}

.msg-in {
    padding:10px;
    background:#ffffff;
    border-radius:15px;
    margin:8px 0;
    width:fit-content;
}

.msg-out {
    padding:10px;
    background:#0a783f;
    color:white;
    border-radius:15px;
    margin:8px 0;
    width:fit-content;
    margin-left:auto;
}

.send-wrap {
    display:flex; padding:10px;
    background:white; border-top:1px solid #ccc;
}

#messageInput {
    flex:1; padding:10px;
    border-radius:8px;
    margin:0 8px;
    border:1px solid #999;
}

#sendBtn {
    background:#0a783f; color:white;
    border:none; padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}
.chat-image {
    max-width:240px; border-radius:12px;
}
