/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #F4FFF4;
    overflow: hidden;
}
* { box-sizing: border-box; }

/* TOP NAVBAR */
.topnav {
    background: #05702e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    height: 52px;
}
.hamburger {
    border: none;
    background: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
}
.top-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo { height: 35px; }

.nav-buttons {
    display: flex;
    gap: 6px;
}
.nav-btn, .logout-btn {
    background:#09a64b;
    border:none;
    padding:6px 11px;
    border-radius:12px;
    color:white;
    cursor:pointer;
    font-size:14px;
}
.nav-btn.active {
    background:white;
    color:#05702e;
}
.logout-btn {
    background:white;
    color:#05702e;
    text-decoration:none;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: white;
    height: 100vh;
    position: fixed;
    left: -260px;
    top: 0;
    transition: .3s;
    padding-top: 60px;
    border-right:1px solid #dcdcdc;
    z-index: 20;
}
.sidebar.open { left: 0; }

.sidebar-overlay {
    display:none;
    position:fixed;
    width:100%;height:100%;
    top:0;left:0;
    background:rgba(0,0,0,0.4);
    z-index:15;
}
.sidebar-overlay.show { display:block; }

.side-title {
    padding-left: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.side-item {
    width:100%;
    padding:10px 15px;
    border:none;
    background:none;
    text-align:left;
    cursor:pointer;
    font-size:15px;
}
.side-item:hover,
.side-item.logout:hover { background:#e9ffee; }

/* MAIN SHELL */
.layout {
    display:grid;
    grid-template-columns: 350px auto 350px;
    height: calc(100vh - 52px);
    margin-top: 52px;
}
