body {
    margin: 0; padding: 0;
    font-family: Arial, sans-serif;
    background: #F4FFF4;
}
* { box-sizing: border-box; }

.topnav {
    background:#05702e;color:#fff;
    display:flex;align-items:center;
    justify-content:space-between;
    padding:5px 15px;height:50px;
}
.hamburger { background:none;border:none;color:white;font-size:23px;cursor:pointer; }
.nav-buttons {display:flex;gap:6px;}
.nav-btn{background:#0a8e40;border:none;padding:6px 11px;border-radius:12px;color:white;}
.nav-btn.active{background:white;color:#05702e;}
.logout-btn{background:white;color:#05702e;border-radius:12px;padding:6px 12px;text-decoration:none;}

.layout{
    display:grid;
    grid-template-columns:300px auto 300px;
    height: calc(100vh - 50px);
}

/******************************************/
/*************** SIDEBAR UI ***************/
/******************************************/

.sidebar{
    width:300px;background:white;height:100vh;
    position:fixed;left:-300px;top:0;z-index:20;
    transition:.3s;border-right:1px solid #ddd;padding-top:60px;
}
.sidebar.open{left:0;}
.sidebar-overlay{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.3);z-index:15;}
.sidebar-overlay.show{display:block;}
.side-item{width:100%;padding:11px;border:none;background:none;text-align:left;cursor:pointer;}
.side-item:hover{background:#e9ffee;}

/******************************************/
/************** CLIENT LIST ***************/
/******************************************/

.client-panel{background:white;border-right:1px solid #ddd;overflow-y:auto;}
.search{width:90%;margin:10px;padding:8px;border-radius:8px;border:1px solid #aaa;}
.client-item{display:flex;align-items:center;gap:10px;padding:10px;border-radius:10px;cursor:pointer;}
.client-item:hover,.active-client{background:#d9ffd9;}
.client-avatar{width:45px;height:45px;border-radius:50%;}

/******************************************/
/**************** CHAT PANEL **************/
/******************************************/

.chat-panel{display:flex;flex-direction:column;position:relative;}
#placeholderScreen{display:flex;align-items:center;justify-content:center;height:100%;font-size:25px;color:#999;}

.chat-header{
    display:flex;justify-content:space-between;align-items:center;
    padding:12px;border-bottom:1px solid #ccc;background:white;
}
.chat-avatar{width:55px;height:55px;border-radius:50%;}

.chat-box {
    flex:1;overflow-y:auto;
    padding:20px 60px;background:#F7FFF7;
}

.chat-input{
    display:flex;align-items:center;gap:10px;
    border-top:1px solid #ddd;padding:10px;background:white;
}
.upload-icon i{font-size:25px;color:#007a33;}
.send-btn{background:#007a33;border:none;border-radius:50%;width:45px;height:45px;cursor:pointer;}
.send-btn i{color:white;font-size:21px;}
