.client-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor:pointer;
    transition: background .2s;
}
.client-item:hover { background:#f1f9ff; }

.client-info small { display:block; font-size:12px; color:#777; }

.client-status {
    width:10px;height:10px;border-radius:50%;margin:6px 10px 0 0;
}
.client-status.online { background:#00d000; }
.client-status.offline { background:#a5a5a5; }

.client-icons button {
    width:28px;height:28px;
    border:1px solid #ccc;
    background:white;
    border-radius:50%;
    margin-left: 4px;
    cursor:pointer;
}
.client-icons button:hover { background:#e7f5ff; }

.toast-msg {
    position:fixed;
    bottom:20px; right:20px;
    padding:12px 18px;
    background:#323232;
    color:#fff;
    border-radius:8px;
    font-size:14px;
    animation:slideIn .4s ease;
}
@keyframes slideIn {
    from { transform:translateX(50px); opacity:0; }
    to { transform:translateX(0); opacity:1; }
}

.typing-indicator {
    font-style: italic;
    font-size:13px;
    margin-left:5px;
    color:#0078ff;
}

/* CHAT BUBBLES */
.chat-bubble {
    max-width:70%;
    padding:10px;
    margin:6px;
    border-radius:12px;
}
.msg-client {
    background:#ffffff;
    border:1px solid #ddd;
    margin-right:auto;
}
.msg-csr {
    background:#0078ff;
    color:white;
    margin-left:auto;
}

.chat-img { max-width:280px; border-radius:12px; margin-bottom:5px; }
.chat-video { width:300px; border-radius:12px; }

.chat-time { font-size:11px; opacity:0.7; display:block; }

/* Input */
.chat-input-area {
    padding:10px;
    display:flex;
    gap:5px;
    border-top:1px solid #ddd;
}

#chat-input {
    flex:1;
    border-radius:8px;
    border:1px solid #999;
    padding:10px;
}
